@scope (.wf-devlink-1b9f10c99bd74c33acb9ed8feb765e91) {
  .mega-nav_dropdown-list.w--open {
    left: 0px;
    right: 0px;
    padding-top: var(--_sizes---spacing--1-25x);
    background-color: transparent;
  }
  .nav_dropdown-list-1.w--open {
    display: flex;
    padding-top: var(--_sizes---spacing--1-25x);
    background-color: transparent;
  }
  .container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: var(--_sizes---container--container-width);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--_sizes---container--container-padding-horizontal);
    padding-left: var(--_sizes---container--container-padding-horizontal);
  }
  .container.is-max {
    width: 100%;
    max-width: none;
  }
  .container.is-large {
    width: 100%;
    max-width: var(--_sizes---container--container-lg-width);
  }
  .container.is-small {
    max-width: var(--_sizes---container--container-sm-width);
  }
  .eyebrow {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: var(--_sizes---spacing--1-25x);
    font-family: var(--_typography---eyebrow--eyebrow-font);
    color: var(--_colors---current-color--current-a60);
    font-size: var(--_typography---eyebrow--eyebrow-size);
    line-height: var(--_typography---eyebrow--eyebrow-line-height);
    font-weight: var(--_typography---base-typography--base-font-weight);
    letter-spacing: var(--_typography---eyebrow--eyebrow-letter-spacing);
    text-transform: uppercase;
  }
  .grid_2-col {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
    grid-template-rows: auto;
  }
  .grid_2-col.gap-small {
    grid-column-gap: var(--_sizes---gap--sm-gap);
    grid-row-gap: var(--_sizes---gap--sm-gap);
  }
  .grid_2-col.gap-medium {
    grid-column-gap: var(--_sizes---gap--md-gap);
    grid-row-gap: var(--_sizes---gap--md-gap);
  }
  .grid_2-col.is-x-center {
    justify-items: center;
  }
  .heading_tertiary {
    margin-bottom: var(--_typography---h3-heading--h3-margin-bottom);
    font-family: var(--_typography---font--heading-font);
    font-size: var(--_typography---h3-heading--h3-size);
    line-height: var(--_typography---h3-heading--h3-line-height);
    font-weight: var(--_typography---h3-heading--h3-weight);
    letter-spacing: var(--_typography---h3-heading--h3-letter-spacing);
  }
  .paragraph_large {
    margin-bottom: var(--_typography---base-typography--base-margin-bottom);
    font-family: var(--_typography---font--body-font);
    font-size: var(--_typography---text-lg--lg-text-size);
    line-height: var(--_typography---text-lg--lg-text-line-height);
    letter-spacing: var(--_typography---text-lg--lg-text-letter-spacing);
  }
  .paragraph_xlarge {
    margin-bottom: var(--_typography---base-typography--base-margin-bottom);
    font-family: var(--_typography---font--body-font);
    font-size: var(--_typography---text-xl--xl-text-size);
    line-height: var(--_typography---text-xl--xl-text-line-height);
    letter-spacing: var(--_typography---text-xl--xl-text-letter-spacing);
  }
  .paragraph_small {
    margin-bottom: var(--_typography---base-typography--base-margin-bottom);
    font-family: var(--_typography---font--body-font);
    font-size: var(--_typography---text-sm--sm-text-size);
    line-height: var(--_typography---text-sm--sm-text-line-height);
    letter-spacing: var(--_typography---text-sm--sm-text-letter-spacing);
  }
  .button {
    display: inline-flex;
    padding: var(--_sizes---button--button-padding-vertical)
      var(--_sizes---button--button-padding-horizontal);
    justify-content: center;
    align-items: center;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    border: 0px solid var(--_colors---button--button-primary-border);
    border-radius: var(--_sizes---button--button-radius);
    background-color: var(--_colors---background-color--bg-inverse);
    background-image: none;
    box-shadow: none;
    transition: border-color 200ms ease, color 200ms ease,
      background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1),
      box-shadow 200ms ease;
    font-family: var(--_typography---button--button-font);
    color: var(--_colors---text-color--text-inverse-primary);
    font-size: var(--_typography---base-typography--base-font-size);
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {
    border-color: var(--_colors---button--button-primary-border-hover);
    background-color: var(--_colors---background-color--bg-inverse);
    box-shadow: none;
    color: var(--_colors---button--button-primary-text);
  }
  .button:active {
    background-color: var(--_colors---background-color--bg-inverse);
    box-shadow: none;
  }
  .button:focus {
    outline-color: var(--_colors---core-accent-color--accent-primary);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
  }
  .button.is-secondary {
    border-color: var(--_colors---button--button-secondary-border);
    background-color: var(--_colors---core-color-tint--neutral-inverse-a10);
    background-image: none;
    box-shadow: none;
    color: var(--_colors---text-color--text-primary);
  }
  .button.is-secondary:hover {
    border-color: var(--_colors---button--button-secondary-border-hover);
    background-color: var(--_colors---core-color-tint--neutral-inverse-a20);
    box-shadow: none;
  }
  .button.is-secondary:active {
    background-color: var(--_colors---core-color-tint--neutral-inverse-a10);
    box-shadow: none;
  }
  .button.is-secondary.on-accent-primary {
    background-color: var(--_colors---core-color-tint--neutral-primary-a20);
    background-image: none;
    box-shadow: none;
    color: var(--_colors---text-color--text-inverse-primary);
  }
  .button.is-secondary.on-accent-primary:hover {
    background-color: var(--_colors---core-color-tint--neutral-primary-a30);
    box-shadow: none;
    color: var(--_colors---text-link--link-inverse-hover);
  }
  .button.is-secondary.on-accent-primary:active {
    background-color: var(--_colors---core-color-tint--neutral-primary-a20);
    box-shadow: none;
  }
  .button.is-secondary.on-accent-secondary {
    background-color: var(--_colors---core-color-tint--neutral-inverse-a20);
    background-image: none;
    box-shadow: none;
    color: var(--_colors---text-color--text-primary);
  }
  .button.is-secondary.on-accent-secondary:hover {
    background-color: var(--_colors---core-color-tint--neutral-inverse-a30);
    box-shadow: none;
    color: var(--_colors---text-link--link-inverse-hover);
  }
  .button.is-secondary.on-accent-secondary:active {
    background-color: var(--_colors---core-color-tint--neutral-inverse-a20);
    box-shadow: none;
  }
  .button.is-secondary.on-accent-tertiary {
    background-color: var(--_colors---core-color-tint--neutral-inverse-a20);
    background-image: none;
    box-shadow: none;
    color: var(--_colors---text-color--text-primary);
  }
  .button.is-secondary.on-accent-tertiary:hover {
    background-color: var(--_colors---core-color-tint--neutral-inverse-a30);
    box-shadow: none;
  }
  .button.is-secondary.on-accent-tertiary:active {
    background-color: var(--_colors---core-color-tint--neutral-inverse-a20);
    box-shadow: none;
  }
  .button.is-secondary.on-inverse {
    background-color: var(--_colors---core-color-tint--neutral-primary-a10);
    background-image: none;
    box-shadow: none;
    color: var(--_colors---text-color--text-inverse-primary);
  }
  .button.is-secondary.on-inverse:hover {
    background-color: var(--_colors---core-color-tint--neutral-primary-a20);
    box-shadow: none;
  }
  .button.is-secondary.on-inverse:active {
    background-color: var(--_colors---core-color-tint--neutral-primary-a10);
    box-shadow: none;
  }
  .button.is-small {
    font-size: var(--_sizes---spacing--0-75x);
  }
  .button.is-inverse {
    border-color: transparent;
    background-color: var(--_colors---core-accent-color--accent-primary);
    color: var(--_colors---core-neutral-color--neutral-primary);
  }
  .button.is-inverse:hover {
    border-color: transparent;
    background-color: var(--_colors---core-accent-color--accent-primary-hover);
  }
  .button.on-accent-primary {
    background-color: var(--_colors---background-color--bg-primary);
    background-image: none;
    box-shadow: none;
    color: var(--_colors---text-color--text-primary);
  }
  .button.on-accent-primary:hover {
    border-color: transparent;
    background-color: var(--_colors---core-color-tint--neutral-primary-a70);
    box-shadow: none;
  }
  .button.on-accent-primary:active {
    background-color: var(--_colors---background-color--bg-primary);
    box-shadow: none;
  }
  .button.on-inverse {
    border-color: transparent;
    background-color: var(--_colors---background-color--bg-primary);
    background-image: none;
    box-shadow: none;
    color: var(--_colors---text-color--text-primary);
  }
  .button.on-inverse:hover {
    border-color: transparent;
    background-color: var(--_colors---background-color--bg-primary);
    box-shadow: none;
  }
  .button.on-inverse:active {
    background-color: var(--_colors---background-color--bg-primary);
    box-shadow: none;
  }
  .button.on-accent-secondary {
    background-color: var(--_colors---background-color--bg-inverse);
    background-image: none;
    box-shadow: none;
    color: var(--_colors---text-color--text-inverse-primary);
  }
  .button.on-accent-secondary:hover {
    background-color: var(--_colors---core-color-tint--neutral-inverse-a70);
    box-shadow: none;
    color: var(--_colors---text-color--text-primary);
  }
  .button.on-accent-secondary:active {
    background-color: var(--_colors---background-color--bg-inverse);
    box-shadow: none;
  }
  .button.on-accent-tertiary {
    background-color: var(--_colors---background-color--bg-inverse);
    background-image: none;
    box-shadow: none;
    color: var(--_colors---text-color--text-inverse-primary);
  }
  .button.on-accent-tertiary:hover {
    background-color: var(--_colors---core-color-tint--neutral-inverse-a70);
    box-shadow: none;
  }
  .button.on-accent-tertiary:active {
    background-color: var(--_colors---background-color--bg-inverse);
    box-shadow: none;
  }
  .margin-bottom_none {
    margin-bottom: 0 !important;
  }
  .screen-reader {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin-top: -1px;
    padding: 0px;
    border: 0px solid transparent;
    white-space: nowrap;
  }
  .margin_top-auto {
    margin-top: auto !important;
  }
  .paragraph_xxlarge {
    margin-bottom: var(--_typography---base-typography--base-margin-bottom);
    font-family: var(--_typography---font--body-font);
    font-size: var(--_typography---text-xxl--xxl-text-size);
    line-height: var(--_typography---text-xxl--xxl-text-line-height);
    letter-spacing: var(--_typography---text-xxl--xxl-text-letter-spacing);
  }
  .button-group {
    display: flex;
    margin-top: var(--_sizes---spacing--1-5x);
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: var(--_sizes---spacing--1x);
    grid-row-gap: var(--_sizes---spacing--1x);
  }
  .button-group.is-align-center {
    justify-content: center;
  }
  .button-group.is-align-right {
    justify-content: flex-end;
  }
  .button-group.is-vertical-stretch {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  .rich-text h4 {
    margin-top: var(--_typography---h4-heading--h4-line-height);
  }
  .rich-text h5 {
    margin-top: var(--_typography---h2-heading--h2-line-height);
  }
  .rich-text h6 {
    margin-top: var(--_typography---h6-heading--h6-line-height);
  }
  .rich-text h3 {
    margin-top: var(--_typography---h3-heading--h3-line-height);
  }
  .rich-text blockquote {
    margin-top: var(--_sizes---spacing--2x);
    margin-bottom: var(--_sizes---spacing--2x);
  }
  .rich-text ol {
    overflow: visible;
    margin-top: var(--_sizes---gap--xs-gap);
    margin-bottom: var(--_sizes---gap--xs-gap);
  }
  .rich-text ul {
    margin-top: 1rem;
    padding-left: 0em;
    list-style-type: none;
  }
  .rich-text li {
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 4px;
    border-bottom: 1px solid var(--_colors---border-color--border-secondary);
  }
  .rich-text img {
    border-radius: var(--_sizes---image--image-radius);
  }
  .rich-text p {
    font-size: inherit;
  }
  .rich-text figure {
    margin-top: var(--_sizes---gap--sm-gap);
    margin-bottom: var(--_sizes---gap--sm-gap);
  }
  .divider {
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    -webkit-text-stroke-width: 0px;
    border-bottom-color: color-mix(in srgb, currentColor 15%, transparent);
  }
  .divider.is-secondary {
    border-bottom-color: color-mix(in srgb, currentColor 15%, transparent);
  }
  .divider.is-accent {
    border-bottom-color: var(--_colors---core-accent-color--accent-primary);
  }
  .card_body {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: var(--_sizes---card--card-padding);
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    flex: 1;
  }
  .card_body.is-small {
    padding: var(--_sizes---gap--sm-gap);
  }
  .card_body.is-align-center {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .nav {
    position: relative;
    z-index: 99;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    background-color: hsla(0, 0%, 100%, 0);
    color: var(--_colors---text-color--text-primary);
    font-size: var(--_typography---base-typography--base-font-size);
  }
  .nav.is-inverse {
    background-color: var(--_colors---background-color--bg-inverse);
    color: var(--_colors---text-color--text-inverse-primary);
  }
  .nav.is-accent-primary {
    background-color: var(--_colors---background-color--bg-accent-primary);
    color: var(--_colors---text-color--text-on-accent-primary);
  }
  .nav.is-secondary {
    background-color: var(--_colors---background-color--bg-secondary);
  }
  .nav.is-accent-tertiary {
    background-color: var(--_colors---background-color--bg-accent-tertiary);
    color: var(--_colors---text-color--text-on-accent-tertiary);
  }
  .nav.is-accent-secondary {
    background-color: var(--_colors---core-accent-color--accent-secondary);
    color: var(--_colors---text-color--text-on-accent-secondary);
  }
  .nav.is-sticky {
    position: sticky;
    top: 0px;
    height: 0px;
  }
  .nav_mobile-menu-button {
    padding-top: var(--_sizes---spacing--0-5x);
    padding-right: var(--_sizes---spacing--0-5x);
    padding-bottom: var(--_sizes---spacing--0-5x);
    padding-left: var(--_sizes---spacing--0-5x);
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    color: inherit;
  }
  .nav_mobile-menu-button:hover {
    color: inherit;
  }
  .nav_mobile-menu-button.w--open {
    z-index: 2;
    background-color: transparent;
  }
  .nav_mobile-menu-button.w--open:hover {
    color: var(--_colors---text-link--link-inverse-hover);
  }
  .nav_mobile-menu-button.fixed-open-nav.w--open {
    position: fixed;
    color: var(--_colors---text-color--text-inverse-secondary);
  }
  .flex_horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex_horizontal.is-x-center {
    justify-content: center;
  }
  .flex_horizontal.gap-small {
    grid-column-gap: var(--_sizes---gap--sm-gap);
    grid-row-gap: var(--_sizes---gap--sm-gap);
  }
  .flex_horizontal.gap-xsmall {
    grid-column-gap: var(--_sizes---gap--xs-gap);
    grid-row-gap: var(--_sizes---gap--xs-gap);
  }
  .flex_horizontal.gap-xxsmall {
    grid-column-gap: var(--_sizes---gap--xxs-gap);
    grid-row-gap: var(--_sizes---gap--xxs-gap);
  }
  .flex_horizontal.is-wrap {
    flex-wrap: wrap;
  }
  .flex_horizontal.gap-large {
    grid-column-gap: var(--_sizes---gap--lg-gap);
    grid-row-gap: var(--_sizes---gap--lg-gap);
  }
  .flex_horizontal.is-x-right {
    justify-content: flex-end;
    align-items: stretch;
  }
  .flex_horizontal.is-y-top {
    align-items: flex-start;
  }
  .flex_horizontal.is-y-bottom {
    align-items: flex-end;
  }
  .flex_horizontal.is-space-between {
    justify-content: space-between;
  }
  .flex_horizontal.gap-medium {
    grid-column-gap: var(--_sizes---gap--md-gap);
    grid-row-gap: var(--_sizes---gap--md-gap);
  }
  .flex_horizontal.is-y-baseline {
    align-items: baseline;
  }
  .mega-nav_dropdown-list-wrapper {
    width: 100%;
    padding: 2rem;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-radius: var(--_sizes---card--card-radius);
    background-color: var(--_colors---background-color--bg-primary);
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.1);
    color: var(--_colors---text-color--text-primary);
  }
  .mega-nav_dropdown-list-wrapper.w--open {
    position: absolute;
    left: 0%;
    top: 100%;
    right: 0%;
    bottom: auto;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-self: auto;
    order: 0;
    border-radius: var(--_sizes---card--card-radius);
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.1);
  }
  .margin-left_auto {
    margin-left: auto;
  }
  .icon {
    display: flex;
    width: var(--_sizes---spacing--2x);
    height: var(--_sizes---spacing--2x);
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    color: var(--_colors---text-color--text-accent-on-primary);
    vertical-align: middle;
  }
  .icon.is-small {
    width: var(--_sizes---spacing--1-25x);
    height: var(--_sizes---spacing--1-25x);
  }
  .icon.is-xsmall {
    width: var(--_sizes---spacing--1x);
    height: var(--_sizes---spacing--1x);
  }
  .icon.on-inverse {
    color: var(--_colors---text-color--text-inverse-primary);
  }
  .icon.on-inverse.is-background {
    background-color: color-mix(in srgb, currentColor 30%, transparent);
  }
  .icon.on-accent-primary {
    color: inherit;
  }
  .icon.on-accent-secondary {
    color: inherit;
  }
  .icon.on-accent-tertiary {
    color: inherit;
  }
  .icon.is-background.on-inverse {
    color: var(--_colors---text-color--text-inverse-primary);
  }
  .icon.is-medium {
    width: var(--_sizes---spacing--1-5x);
    height: var(--_sizes---spacing--1-5x);
  }
  .icon.is-large {
    width: var(--_sizes---spacing--3x);
    height: var(--_sizes---spacing--3x);
  }
  .icon.is-xlarge {
    width: var(--_sizes---spacing--5x);
    height: var(--_sizes---spacing--5x);
  }
  .text-button {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    transition: all 200ms ease-in-out;
    color: var(--_colors---text-link--link-primary);
    font-size: var(--_sizes---spacing--1x);
    font-weight: var(--_typography---h5-heading--h5-weight);
    text-decoration: none;
  }
  .text-button:hover {
    color: var(--_colors---core-accent-color--accent-primary-hover);
  }
  .text-button.is-small {
    font-size: var(--_sizes---spacing--0-75x);
  }
  .text-button.on-inverse {
    color: var(--_colors---text-link--link-inverse);
  }
  .text-button.on-inverse:hover {
    opacity: 0.7;
  }
  .text-button.is-secondary {
    transition-property: opacity, color;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease-in-out, ease-in-out;
    color: inherit;
  }
  .text-button.is-secondary:hover {
    opacity: 0.6;
  }
  .text-button.on-accent-primary {
    color: inherit;
  }
  .text-button.on-accent-primary:hover {
    opacity: 0.6;
    color: inherit;
  }
  .text-button.on-accent-tertiary {
    color: inherit;
  }
  .text-button.on-accent-tertiary:hover {
    color: inherit;
  }
  .text-button.on-accent-secondary {
    color: inherit;
  }
  .text-button.on-accent-secondary:hover {
    color: inherit;
  }
  .text-color_secondary {
    color: color-mix(in srgb, currentColor 75%, transparent);
  }
  .footer {
    padding-top: var(--_sizes---spacing--4x);
    padding-bottom: var(--_sizes---spacing--4x);
    background-color: var(--_colors---background-color--bg-primary);
    color: var(--_colors---text-color--text-primary);
  }
  .footer.is-secondary {
    background-color: var(--_colors---background-color--bg-secondary);
    color: var(--_colors---text-color--text-primary);
  }
  .footer.is-accent-primary {
    background-color: var(--_colors---core-accent-color--accent-primary);
    color: var(--_colors---text-color--text-on-accent-primary);
  }
  .footer.is-inverse {
    background-color: var(--_colors---background-color--bg-inverse);
    color: var(--_colors---text-color--text-inverse-primary);
  }
  .footer.is-accent-secondary {
    background-color: var(--_colors---background-color--bg-accent-secondary);
    color: var(--_colors---text-color--text-on-accent-secondary);
  }
  .footer.is-accent-tertiary {
    background-color: var(--_colors---background-color--bg-accent-tertiary);
    color: var(--_colors---text-color--text-on-accent-tertiary);
  }
  .card-link {
    position: relative;
    display: flex;
    overflow: clip;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    border: 0px solid var(--_colors---card--card-primary-border);
    border-radius: var(--_sizes---card--card-radius);
    background-color: var(--_colors---background-color--bg-secondary);
    background-image: none;
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20)
        inset,
      0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    opacity: 1;
    transform: translateY(0px);
    transition: all 160ms linear;
    color: var(--_colors---text-color--text-primary);
    text-decoration: none;
    list-style-type: none;
  }
  .card-link:hover {
    background-color: var(--_colors---background-color--bg-secondary);
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20)
        inset,
      0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    opacity: 1;
    transform: translateY(-2px);
    color: var(--_colors---card--card-primary-text);
  }
  .card-link.is-inverse {
    border-color: var(--_colors---card--card-inverse-border);
    background-color: var(--_colors---card--card-inverse-bg);
    color: var(--_colors---card--card-inverse-text);
  }
  .card-link.is-inverse:hover {
    background-color: var(--_colors---card--card-inverse-bg-hover);
    color: var(--_colors---card--card-inverse-text);
  }
  .card-link.on-secondary {
    border-color: hsla(0, 0%, 0%, 0.9);
    background-color: var(--_colors---background-color--bg-primary);
    background-image: none;
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20)
        inset,
      0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    color: var(--_colors---text-color--text-primary);
    -webkit-text-stroke-color: black;
  }
  .card-link.on-secondary:hover {
    background-color: var(--_colors---background-color--bg-primary);
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20)
        inset,
      0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    color: black;
  }
  .card-link.on-accent-primary {
    border-color: hsla(0, 0%, 0%, 0.9);
    background-color: var(--_colors---background-color--bg-primary);
    background-image: none;
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20),
      0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    color: var(--_colors---text-color--text-primary);
    -webkit-text-stroke-color: black;
  }
  .card-link.on-accent-primary:hover {
    background-color: var(--_colors---background-color--bg-primary);
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20),
      0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    color: black;
  }
  .card-link.on-inverse {
    border-color: hsla(0, 0%, 0%, 0.9);
    background-color: var(--_colors---core-color-tint--neutral-primary-a10);
    background-image: none;
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20)
        inset,
      0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    color: var(--_colors---text-color--text-inverse-primary);
    -webkit-text-stroke-color: black;
  }
  .card-link.on-inverse:hover {
    background-color: var(--_colors---core-color-tint--neutral-primary-a10);
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20)
        inset,
      0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    color: black;
  }
  .card-link.on-accent-secondary {
    background-color: var(--_colors---background-color--bg-primary);
    background-image: none;
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20),
      0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    color: var(--_colors---text-color--text-primary);
  }
  .card-link.on-accent-secondary:hover {
    background-color: var(--_colors---background-color--bg-primary);
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20),
      0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
  }
  .card-link.on-accent-tertiary {
    background-color: var(--_colors---background-color--bg-primary);
    background-image: none;
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20),
      0 3px 3px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
    color: var(--_colors---text-color--text-primary);
  }
  .card-link.on-accent-tertiary:hover {
    background-color: var(--_colors---background-color--bg-primary);
    box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20),
      0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.05);
  }
  .nav_link {
    display: flex;
    padding-top: 0.5em;
    padding-right: 0.75em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    grid-column-gap: var(--_sizes---gap--xxs-gap);
    grid-row-gap: var(--_sizes---gap--xxs-gap);
    border-top-left-radius: var(--_sizes---button--button-radius);
    border-top-right-radius: var(--_sizes---button--button-radius);
    border-bottom-left-radius: var(--_sizes---button--button-radius);
    border-bottom-right-radius: var(--_sizes---button--button-radius);
    text-decoration: none;
    white-space: nowrap;
    word-break: keep-all;
    color: color-mix(in srgb, currentColor 75%, transparent);
  }
  .nav_link:hover {
    background-color: color-mix(in srgb, currentColor 05%, transparent);
    color: inherit;
  }
  .nav_link.w--current {
    background-color: var(--_colors---button--button-secondary-bg-hover);
  }
  .nav_link.w--open {
    background-color: var(--_colors---button--button-secondary-bg-hover);
  }
  .nav_link.on-accent-primary {
    background-color: inherit;
  }
  .nav_link.on-accent-primary:hover {
    background-color: color-mix(in srgb, currentColor 15%, transparent);
  }
  .nav_link.on-accent-primary.w--current {
    background-color: color-mix(in srgb, currentColor 30%, transparent);
  }
  .nav_link.on-accent-secondary:hover {
    background-color: color-mix(in srgb, currentColor 10%, transparent);
  }
  .nav_link.on-accent-secondary.w--current {
    background-color: color-mix(in srgb, currentColor 20%, transparent);
  }
  .nav_link.on-inverse {
    color: var(--_colors---text-color--text-inverse-secondary);
    background-color: color-mix(in srgb, currentColor 0%, transparent);
  }
  .nav_link.on-inverse:hover {
    color: var(--_colors---text-color--text-inverse-primary);
    background-color: color-mix(in srgb, currentColor 20%, transparent);
  }
  .nav_link.on-inverse.w--current {
    background-color: color-mix(in srgb, currentColor 30%, transparent);
  }
  .footer_link {
    display: inline-flex;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    font-weight: 400;
    text-decoration: none;
    color: color-mix(in srgb, currentColor 60%, transparent);
  }
  .footer_link:hover {
    opacity: 1;
    text-decoration: underline;
    color: color-mix(in srgb, currentColor 100%, transparent);
  }
  .footer_link.on-inverse {
    color: var(--_colors---nav-link--nav-link-inverse);
  }
  .footer_link.on-inverse:hover {
    color: var(--_colors---nav-link--nav-link-inverse);
  }
  .nav_container {
    display: flex;
    width: 100%;
    max-width: var(--_sizes---container--container-width);
    margin-right: auto;
    margin-left: auto;
    padding: var(--_sizes---spacing--0-75x)
      var(--_sizes---container--container-padding-horizontal);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-bottom-left-radius: var(--_sizes---card--card-radius);
    border-bottom-right-radius: var(--_sizes---card--card-radius);
    background-color: hsla(0, 0%, 86.67%, 0);
  }
  .nav_container.is-island {
    position: static;
    width: auto;
    margin-top: var(--_sizes---spacing--1x);
    border-radius: var(--_sizes---radius--md-radius);
    background-color: var(--_colors---background-color--bg-primary);
  }
  .nav_container.is-dynamic-island {
    position: static;
    width: auto;
    min-width: var(--_interactions---ix--ix-nav-width);
    margin-top: var(--_sizes---spacing--1x);
    border-radius: var(--_sizes---radius--md-radius);
    background-color: var(--_colors---background-color--bg-primary);
    color: var(--_colors---text-color--text-primary);
  }
  .nav_menu {
    position: static;
    display: flex;
    height: 100%;
    margin-bottom: 0rem;
    padding-left: 0em;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: transparent;
    transform: none !important;
  }
  .nav_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    grid-column-gap: var(--_sizes---gap--sm-gap);
    grid-row-gap: var(--_sizes---gap--sm-gap);
  }
  .nav_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    grid-column-gap: var(--_sizes---gap--sm-gap);
    grid-row-gap: var(--_sizes---gap--sm-gap);
  }
  .nav_caret {
    position: relative;
    margin: 0px;
  }
  .button_label {
    white-space: pre;
  }
  .nav_logo {
    display: flex;
    height: 2.5rem;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    text-decoration: none;
    color: inherit;
  }
  .nav_logo:hover {
    color: color-mix(in srgb, currentColor 80%, transparent);
  }
  .nav_menu-list {
    display: flex;
    margin-bottom: 0rem;
    padding-left: 0em;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .nav_menu-list-item {
    display: flex;
    margin-bottom: 0 !important;
  }
  .nav_dropdown-menu {
    position: static;
  }
  .mega-nav_link-item {
    display: flex;
    padding-top: var(--_sizes---spacing--0-5x);
    padding-bottom: var(--_sizes---spacing--0-5x);
    grid-column-gap: var(--_sizes---gap--xxs-gap);
    grid-row-gap: var(--_sizes---gap--xxs-gap);
    transition: color 200ms ease;
    color: var(--_colors---text-color--text-primary);
    text-decoration: none;
  }
  .mega-nav_link-item:hover {
    color: var(--_colors---text-link--link-primary);
  }
  .nav-menu_dropdown-list-wrapper {
    border-radius: var(--_sizes---card--card-radius);
    background-color: var(--_colors---background-color--bg-primary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }
  .nav-menu_dropdown-list-wrapper.w--open {
    top: 100%;
    margin-top: var(--_sizes---spacing--0-5x);
    padding: var(--_sizes---spacing--0-5x);
    box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.1);
  }
  .footer_icon-link {
    display: inline-flex;
    width: var(--_sizes---spacing--2x);
    height: var(--_sizes---spacing--2x);
    padding-top: 0.35rem;
    padding-right: 0.35rem;
    padding-bottom: 0.35rem;
    padding-left: 0.35rem;
    justify-content: center;
    align-items: center;
    color: color-mix(in srgb, currentColor 70%, transparent);
  }
  .footer_icon-link:hover {
    opacity: 1;
    color: color-mix(in srgb, currentColor 100%, transparent);
  }
  .button_icon {
    display: inline-flex;
    width: 1em;
    height: 1em;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
  }
  .subheading p {
    margin-bottom: 0em;
    letter-spacing: 0em;
    font-size: inherit;
    text-wrap: balance;
  }
  .nav_dropdown-link {
    display: flex;
    padding: 0.75em 1em;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: var(--_sizes---gap--xxs-gap);
    grid-row-gap: var(--_sizes---gap--xxs-gap);
    transition: color 200ms ease;
    color: var(--_colors---nav-link--nav-link-primary);
    font-weight: var(--_typography---h5-heading--h5-weight);
    text-decoration: none;
  }
  .nav_dropdown-link:hover {
    color: var(--_colors---text-link--link-primary);
  }
  .nav_dropdown-link.w--current {
    background-color: var(--_colors---button--button-secondary-bg-hover);
  }
  .nav_dropdown-link.w--open {
    background-color: var(--_colors---button--button-secondary-bg-hover);
  }
  .mega-nav_list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: var(--_sizes---gap--sm-gap);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .nav_logo-icon {
    display: flex;
    align-self: stretch;
  }
  .footer_icon-group {
    display: flex;
    margin-bottom: 0rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: var(--_sizes---spacing--0-5x);
    grid-row-gap: var(--_sizes---spacing--0-5x);
    background-color: rgba(0, 0, 0, 0);
  }
  .grid_3-col {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: var(--_sizes---gap--xs-gap);
    grid-row-gap: var(--_sizes---gap--xs-gap);
  }
  .logo-link {
    display: flex;
    height: 2.5rem;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 0.7rem;
    grid-row-gap: 0.7rem;
    text-decoration: none;
    color: inherit;
  }
  .logo-link:hover {
    color: color-mix(in srgb, currentColor 80%, transparent);
  }
  .list-divided li {
    padding-bottom: var(--_sizes---gap--xs-gap);
    border-bottom: 1px solid var(--_colors---border-color--border-secondary);
  }
  .list-divided ol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: var(--_sizes---gap--xs-gap);
    grid-row-gap: var(--_sizes---gap--xs-gap);
  }
  .list-divided ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: var(--_sizes---gap--xs-gap);
    grid-row-gap: var(--_sizes---gap--xs-gap);
  }
  @media screen and (max-width: 991px) {
    .grid_2-col.tablet-1-col {
      grid-template-columns: 1fr;
    }
    .mega-nav_dropdown-list.w--open {
      position: relative;
      top: 0%;
      height: auto;
      padding-bottom: var(--_sizes---spacing--0-5x);
    }
    .nav_dropdown-list-1.w--open {
      position: relative;
      border-radius: var(--_sizes---card--card-radius);
    }
    .grid_2-col.tablet-1-col {
      grid-template-columns: 1fr;
    }
    .margin-bottom_none {
      margin-bottom: 0px;
    }
    .nav {
      height: auto;
    }
    .nav_mobile-menu-button {
      align-self: center;
      background-color: transparent;
      color: inherit;
    }
    .nav_mobile-menu-button.w--open {
      background-color: transparent;
      color: var(--_colors---core-accent-color--accent-primary);
    }
    .nav_mobile-menu-button.w--open:hover {
      color: var(--_colors---text-link--link-primary);
    }
    .flex_horizontal.tablet-vertical {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .flex_horizontal.tablet-vertical.tablet-y-center {
      justify-content: center;
    }
    .flex_horizontal.tablet-vertical.tablet-x-center {
      align-items: center;
    }
    .mega-nav_dropdown-list-wrapper {
      z-index: 3;
      padding-top: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      box-shadow: none;
      background-color: color-mix(in srgb, currentColor 5%, transparent);
    }
    .mega-nav_dropdown-list-wrapper.w--open {
      position: relative;
      left: 0px;
      top: auto;
      right: 0px;
      height: auto;
      min-width: 0px;
      margin-right: auto;
      margin-left: auto;
      padding: 1rem;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
      align-items: stretch;
      grid-column-gap: var(
        --\<unknown\|variable-a69a1324-354b-b944-50a1-051b9fc4d586\>
      );
      grid-row-gap: var(
        --\<unknown\|variable-a69a1324-354b-b944-50a1-051b9fc4d586\>
      );
      background-color: var(--_colors---core-color-tint--neutral-inverse-a10);
      box-shadow: none;
      text-align: left;
    }
    .footer {
      padding-top: var(--_sizes---spacing--3x);
      padding-bottom: var(--_sizes---spacing--3x);
    }
    .nav_link {
      justify-content: space-between;
      align-items: center;
      font-size: var(--_typography---text-lg--lg-text-size);
    }
    .nav_link:hover {
      color: var(--_colors---text-link--link-primary);
      background-color: color-mix(in srgb, currentColor 0%, transparent);
    }
    .nav_link.w--current:hover {
      background-color: var(--_colors---button--button-secondary-bg-hover);
    }
    .nav_link.w--open {
      background-color: hsla(0, 0%, 0%, 0);
    }
    .nav_menu {
      position: absolute;
      top: 100%;
      overflow: auto;
      height: auto;
      padding-top: var(--_sizes---spacing--1x);
      padding-right: var(--_sizes---spacing--1x);
      padding-bottom: var(--_sizes---spacing--1x);
      padding-left: var(--_sizes---spacing--1x);
      border-top-left-radius: var(--_sizes---radius--md-radius);
      border-top-right-radius: var(--_sizes---radius--md-radius);
      border-bottom-left-radius: var(--_sizes---radius--md-radius);
      border-bottom-right-radius: var(--_sizes---radius--md-radius);
      background-color: var(--_colors---background-color--bg-primary);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      max-height: calc(100dvh - 10rem);
    }
    .nav_menu-list {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .nav_menu-list-item {
      margin-bottom: 0px;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .nav_dropdown-menu {
      width: 100%;
      height: auto;
    }
    .nav-menu_dropdown-list-wrapper {
      display: flex;
      width: 100%;
      padding-top: var(--_sizes---gap--xxs-gap);
      padding-bottom: var(--_sizes---gap--xxs-gap);
      flex-direction: column;
      flex-wrap: nowrap;
      box-shadow: none;
      background-color: color-mix(in srgb, currentColor 5%, transparent);
    }
    .nav-menu_dropdown-list-wrapper.w--open {
      position: relative;
      top: 0%;
      display: block;
      height: auto;
      background-color: var(--_colors---button--button-secondary-bg-hover);
    }
    .nav_dropdown-link {
      justify-content: space-between;
      align-items: center;
      font-size: var(--_typography---text-lg--lg-text-size);
    }
    .nav_dropdown-link.w--open {
      background-color: hsla(0, 0%, 0%, 0);
    }
    .mega-nav_list {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .grid_3-col.tablet-1-col {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 767px) {
    .grid_2-col {
      grid-template-columns: minmax(0px, 1fr);
    }
    .grid_2-col.gap-small {
      grid-column-gap: var(--_sizes---gap--xs-gap);
      grid-row-gap: var(--_sizes---gap--xs-gap);
    }
    .grid_2-col.gap-medium {
      grid-column-gap: var(--_sizes---gap--sm-gap);
      grid-row-gap: var(--_sizes---gap--sm-gap);
    }
    .grid_2-col.mobile-l-1-col {
      grid-template-columns: 1fr;
    }
    .margin-bottom_none {
      margin-bottom: 0px;
    }
    .rich-text blockquote {
      font-size: 1.5rem;
    }
    .flex_horizontal.gap-large {
      grid-column-gap: var(--_sizes---spacing--2x);
      grid-row-gap: var(--_sizes---spacing--2x);
    }
    .flex_horizontal.flex_vertical_mobile-l {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .flex_horizontal.mobile-horizontal {
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .flex_horizontal.mobile-l-vertical {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .mega-nav_dropdown-list-wrapper.w--open {
      padding: var(--_sizes---spacing--1x) var(--_sizes---spacing--1-25x)
        var(--_sizes---spacing--0-75x);
      justify-content: center;
      flex-wrap: wrap;
    }
    .nav_menu {
      transform: translate(0px, 0);
    }
    .nav_menu-list-item {
      margin-bottom: 0px;
    }
    .mega-nav_list {
      grid-template-columns: 1fr;
    }
    .grid_3-col {
      grid-template-columns: 1fr;
    }
    .footer_bottom {
      flex-direction: column;
      flex-wrap: nowrap;
      text-align: center;
    }
  }
  @media screen and (max-width: 479px) {
    .grid_2-col.tablet-1-col {
      grid-template-columns: 100%;
    }
    .nav_dropdown-list-1.w--open {
      position: relative;
      flex-direction: column;
      flex-wrap: nowrap;
      border-top-left-radius: var(--_sizes---card--card-radius);
      border-top-right-radius: var(--_sizes---card--card-radius);
      border-bottom-left-radius: var(--_sizes---card--card-radius);
      border-bottom-right-radius: var(--_sizes---card--card-radius);
      background-color: color-mix(in srgb, currentColor 5%, transparent);
    }
    .grid_2-col {
      grid-auto-columns: 100%;
      grid-template-columns: 100%;
    }
    .grid_2-col.tablet-1-col {
      grid-template-columns: 100%;
    }
    .button {
      white-space: nowrap;
    }
    .margin-bottom_none {
      margin-bottom: 0px;
    }
    .button-group {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
      align-items: stretch;
    }
    .button-group.is-align-center {
      justify-content: center;
      align-items: stretch;
    }
    .nav_mobile-menu-button.w--open {
      color: inherit;
    }
    .mega-nav_dropdown-list-wrapper.w--open {
      width: 100%;
      padding-right: 0rem;
      padding-left: 0rem;
    }
    .nav_container.is-island {
      margin-top: var(--_sizes---gap--xxs-gap);
    }
    .nav_container.is-dynamic-island {
      margin-top: var(--_sizes---gap--xxs-gap);
    }
    .nav_menu-list-item {
      margin-bottom: 0px;
    }
    .footer_icon-group {
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .ix-link-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .logo-link {
      color: inherit;
    }
  }
}
